name: Build Go binaries and test

on:
  push:
    branches:
      - main
      - fix/working-ci
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
      - run: make
